
<div class="row justify-content-center bg-white">
    <div class="col-lg-1 col-sm-6">
      <a href="{{ path('home') }}"><img class="logo" src="/assets/image/logo.png"></a>
    </div>
    <div class="col-lg-2 col-sm-11">  
     <a href="{{ path('home') }}"><p class="text-center funnyShop myBlue lato">ClothA</p></a>
    </div>
 
  <nav>
    <input type="checkbox" id="nav" class="hidden"/>
    <div class="nav-container">
      <ul>
        <li>
          <a class="loginBtn" href="{{ path('show_cart')}}">
          Panier<i class="myBlue fa fa-shopping-cart" style="font-size:18px"></i>
        </a>
        </li>
        {% if app.user %}
        <li>
          <a class="loginBtn" href="{{ path('app_logout') }}">Se déconnecter <i class="myBlue fas fa-power-off" style="font-size:18px"></i></a>
        </li>
        {% else %}
        <li>
          <a class="loginBtn" href="{{ path('app_login') }}">Se connecter <i class="myBlue fas fa-power-off" style="font-size:18px"></i></a>
        </li>
        {% endif %}
        {% if app.user == null %}
        <li>
          <a class="loginBtn" href="{{ path('app_register') }}">S'inscrire <i class="myBlue fas fa-address-book" style="font-size:18px"></i></a>
        </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
          <a class="loginBtn" href="{{ path('adminInterface') }}">Admin<i class="myBlue fas fa-address-book" style="font-size:18px"></i></a>
        </li>
        {% endif %}
        <li class="nav-item lgHide">
          <a class="nav-link text-white " href="{{ path('showByCategory', {'category': 'Tshirt'}) }}">T-shirt</a>
        </li>
        <li class="nav-item lgHide">
          <a class="nav-link text-white" href="{{ path('showByCategory', {'category': 'Jogging'}) }}">Jogging</a>
        </li>
        <li class="nav-item lgHide">
          <a class="nav-link text-white" href="{{ path('showByCategory', {'category': 'Basket'}) }}">Basket</a>
        </li>
        <li class="nav-item lgHide">
          <a class="nav-link text-white" href="{{ path('showByCategory', {'category': 'Jean'}) }}">Jean</a>
        </li>
        <li class="nav-item lgHide">
          <a class="nav-link text-white" href="{{ path('showByCategory', {'category': 'Veste'}) }}">Veste</a>
        </li>
        <li class="nav-item lgHide">
          <a class="nav-link text-white" href="{{ path('showByCategory', {'category': 'Casquette'}) }}">Casquette</a>
        </li>
      </ul>
    </div>
  </nav>

</div>   
<nav class="navbar secondNav navbar-expand-lg navbar-expand-md navbar-light mdb-color lighten-4 smHide">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="myNavbar navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link text-black oldtt" href="{{ path('showByCategory', {'category': 'Tshirt'}) }}">T-shirt</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-black oldtt" href="{{ path('showByCategory', {'category': 'Jogging'}) }}">Jogging</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-black oldtt" href="{{ path('showByCategory', {'category': 'Basket'}) }}">Basket</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-black oldtt" href="{{ path('showByCategory', {'category': 'Jean'}) }}">Jean</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-black oldtt" href="{{ path('showByCategory', {'category': 'Veste'}) }}">Veste</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-black oldtt" href="{{ path('showByCategory', {'category': 'Casquette'}) }}">Casquette</a>
      </li>
    </ul>
  </div>
</nav>









<!-- <div class="header sticky-top">
  <div class="row justify-content-center bg-white">
    <div class="col-1">
      <a href="{{ path('home') }}"><img class="logo" src="https://image.flaticon.com/icons/png/512/12/12653.png"></a>
    </div>
    <div class="col-2">  
  	 <a href="{{ path('home') }}"><h1 class="funnyShop" style="text-decoration:none;">Funny Shop</h1></a>
    </div>
    <div class="col-1 panierBtn">
      <a class="loginBtn" href="{{ path('show_cart')}}">
        <p>Panier<i class="myBlue fa fa-shopping-cart" style="font-size:18px"></i></p>
      </a>
     </div>
     {% if app.user %}
     <div class="col-1 loginBtn">
      <a class="loginBtn" href="{{ path('app_logout') }}"><p>Se deconnecter <i class="myBlue fas fa-power-off" style="font-size:18px"></i></p></a>
     </div> 
     {% else %} 
    <div class="col-1 loginBtn">
      <a class="loginBtn" href="{{ path('app_login') }}"><p>Se connecter <i class="myBlue fas fa-power-off" style="font-size:18px"></i></p></a>
     </div>
     {% endif %} 
     {% if app.user == null %}
     <div class="col-1 loginBtn">
      <a class="loginBtn" href="{{ path('app_register') }}"><p>S'inscrire <i class="myBlue fas fa-address-book" style="font-size:18px"></i></p></a>
     </div>
     {% endif %}
     {% if is_granted('ROLE_ADMIN') %}
     <div class="col-1 loginBtn">
      <a class="loginBtn" href="{{ path('adminInterface') }}"><p>Admin <i class="myBlue fas fa-hammer" style="font-size:18px"></i></p></a>
     </div>  
     {% endif %}
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="myNavbar navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ path('showByCategory', {'category': 'Tshirt'}) }}">T-shirt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ path('showByCategory', {'category': 'Jogging'}) }}">Jogging</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ path('showByCategory', {'category': 'Basket'}) }}">Basket</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ path('showByCategory', {'category': 'Jean'}) }}">Jean</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ path('showByCategory', {'category': 'Veste'}) }}">Veste</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ path('showByCategory', {'category': 'Casquette'}) }}">Casquette</a>
        </li>
      </ul>
    </div>
  </nav><br>
</div>

 
<div class="container-fluid">
  <div class="row justify-content-center">
    <div>
      <a href="{{ path('home') }}"><h1 class="funnyShop">Funny Shop</h1></a>
      </div>  
  </div>
    <div class="topnav" id="myTopnav">
    <a href="#home" class="active">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>
-->