<div class="row justify-content-center">
  <div class="col-1">
    <img class="logo" src="https://image.flaticon.com/icons/png/512/12/12653.png">
  </div>
  <div class="col-2">  
	 <h1 class="funnyShop">Funny Shop</h1>
  </div>
  <div class="col-1 panierBtn">
    <a class="loginBtn" href="{{ path('show_cart')}}">
      <p>Panier<i class="fa fa-shopping-cart" style="font-size:24px"></i></p>
    </a>
   </div>
   {% if app.user %}
   <div class="col-1 loginBtn">
    <a class="loginBtn" href="{{ path('app_logout') }}"><p>Se deconnecter</p></a>
   </div> 
   {% else %} 
  <div class="col-1 loginBtn">
    <a class="loginBtn" href="{{ path('app_login') }}"><p>Se connecter</p></a>
   </div>
   {% endif %} 
  <div class="col-1 loginBtn">
    <a class="loginBtn" href="{{ path('app_register') }}"><p>S'inscrire</p></a>
   </div>
   {% if is_granted('ROLE_ADMIN') %}
   <div class="col-1 loginBtn">
    <a class="loginBtn" href="{{ path('adminInterface') }}"><p>Admin</p></a>
   </div>  
   {% endif %}
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="myNavbar navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link text-white" href="{{ path('showByCategory', {'category': 'Tshirt'}) }}">T-shirt</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{{ path('showByCategory', {'category': 'Jogging'}) }}">Jogging</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{{ path('showByCategory', {'category': 'Basket'}) }}">Basket</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{{ path('showByCategory', {'category': 'Jean'}) }}">Jean</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{{ path('showByCategory', {'category': 'Veste'}) }}">Veste</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{{ path('showByCategory', {'category': 'Casquette'}) }}">Casquette</a>
      </li>
    </ul>
  </div>
</nav><br>