{% extends 'base.html.twig' %}
{% block body %}
	<div class="container">
	{% if app.session.get('cart') == 0 %}
		<h2 class="text-center">Votre panier est vide</h2>
	{% else %}
		{% for article in app.session.get('cart') %}
			<div class="row">
				<div class="col-lg-3">
					<img class="cartImg" src="{{ article.picture }}">
				</div>
				<div class="col-lg-4">
					<p class="cabin">{{ article.name }}</p>
					<p class="cabin">Prix : {{ article.price }}</p>
					<p class="cabin">Taille : {{ article.size }}  </p>
					<p class="cabin">Quantité : {{ article.quantity }}</p>
					<p class="cabin">{{ article.description }}</p>			
				</div>
				<form action="{{ path('remove_cart', {'id':article.id}) }}" method="POST">
					<button type="submit" style="background-color:white;border:none;"><i class="fas fa-trash" style="font-size:24px;color:grey;"></i></button>
				</form>	
				{% if loop.index == 1 %}
				<div class="totalPrice">
					<h3>Prix total € : <span class="myBlue">{{ app.session.get('totalCart') }}</span></h3>
					<button class="btn btn-info" style="width:11rem;">Passer commande</button>
			    </div>
			    {% endif %}	
		    </div>	<hr>    		
		{% endfor %}	
	{% endif %}
   		
    </div>
{% endblock %}
