{% extends 'base.html.twig' %}
{% block body %}
	<h2 class="text-center">Voici votre panier</h2><hr>
	<div class="container">
	{% if app.user.cart is not defined %}
		<h2 class="text-center">Votre panier est vide</h2>
	{% else %}
		{% for article in articles %}
			<div class="row">
				<div class="col-3">
					<img class="cartImg" src="{{ article.picture }}">
				</div>
				<div class="col-4">
					<p>{{ article.name }}</p>
					<p>{{ article.description }}</p>
					<p>{{ article.price }}</p>
					<p>{{ article.id }}</p>
					{% for key,value in app.session.get('cart')  %}
						{% if app.session.get('cart')|length == loop.index %}
					<p>taille :{{ key }}</p>
						{% endif %}
						{% if key == article.name %}
					<p>quantité	: {{ value }}</p>
						{% endif %}
					{% endfor %}
				</div>
			<form action="{{ path('remove_cart', {'id':article.id}) }}" method="POST">
				<button class="btn" type="submit"><i class="fa fa-close" style="font-size:24px;color:red;"></i></button>
			</form>
				{% if loop.index == 1 %}
					<div class="totalPrice col-3">
						<h3>Prix total : 
							<span class="text-info text-right">
								{% for key,value in app.session.get('cart')  %}
									{% set total = total + article.price * value  %}
									{% if loop.index == app.session.get('cart')|length %}
										{{ total ~ " €" }}
									{% endif %} 
								{% endfor %}
							</span>
						</h3>
						<button class="btn btn-info" style="width:11rem;">Passer commande</button>
				    </div>
			    {% endif %}
			</div>
			<div class="col-8">
				<hr>
		    </div> 
		{% endfor %}
	{% endif %}
    </div>
{% endblock %}
