{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
	{% if  articles %}
		<h1 class="cabin myBlue text-center">Nos {{ articles[0].type }}</h1><hr>
	{% endif %}
	<div class="row">
	{% for article in articles %}
	<div class="col-3">
		<div class="card" style="width: 18rem;border:none;">
			<a href="{{ path('show_one', {'id': article.id}) }}">
				<img src="{{ article.picture }}" class="card-img-top" alt="...">
			</a>
			<div class="card-body">
				<p class="cabin card-text text-center font-weight-bold" style="font-size:2rem;">{{ article.name }}</p>
				<p class="myDescription text-center font-weight-light">{{ article.description }}</p>
				<p class="myBlue text-center font-weight-bold" style="font-size:2rem;">{{ article.price }} €</p>
			</div>
		</div>
	</div>
		<div class="col-1">
	</div>
	{% if loop.index % 3 == 0 %}
	</div>
		<hr>
	<div class="row">	
	{% endif %}
	{% endfor %}
	</div>
</div>
{% endblock %}