{% extends 'base.html.twig' %}

{% block title %}Cloth index{% endblock %}

{% block body %}
    <h1>Cloth index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Name</th>
                <th>Price</th>
                <th>Note</th>
                <th>Picture</th>
                <th>Description</th>
                <th>Size</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cloth in cloths %}
            <tr>
                <td>{{ cloth.id }}</td>
                <td>{{ cloth.Type }}</td>
                <td>{{ cloth.Name }}</td>
                <td>{{ cloth.price }}</td>
                <td>{{ cloth.note }}</td>
                <td>{{ cloth.picture }}</td>
                <td>{{ cloth.description }}</td>
                <td>{{ cloth.Size ? cloth.Size|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('cloth_show', {'id': cloth.id}) }}">show</a>
                    <a href="{{ path('cloth_edit', {'id': cloth.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cloth_new') }}">Create new</a>
{% endblock %}
